<div class="sidebar close">
    <div class="logo-details">
        <span class="logo-name">
            <i class='bx bx-palette'></i>ColorWorld
        </span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-credit-card-front'></i>
                    <span class="link_name">Billing Menu</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Tax Invoice</a></li>
                <li><a href="#">Generate Bill</a></li>
                <li><a href="#">View Bill</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link_name">Sales/Purchase</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Sales/Purchase</a></li>
                <li><a href="#">Generate SP</a></li>
                <li><a href="#">View SP</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">Miscellaneous</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Miscellaneous</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Customer</a></li>
            </ul>
        </li>
    </ul>
</div>