<div class="fluid-container mt-4">
	<div class="row">
		<div class="col-md-5">			
				<div class="fluid-container border">
					<div class="row">
						<div class="col-8">
							<div>Customer Name:</div>
							<div><small>Party GST:</small></div>
						</div>
						<div class="col">
							<div>Balance: </div>
							<div><small>Date: </small></div>
						</div>
					</div>
				</div>
			
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">Add/Update Customer Details</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				  </div>
			</div>
		</div>
	</div>
</div>